<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bayleaf Salon</title>

    <!-- adding css  -->
    <link rel="stylesheet" href="/frontend/pages/css/style.css">

    <!-- mediaQuery css  -->
    <link rel="stylesheet" href="/frontend/pages/css/MediaQuery.css">

    <!-- fontawesome  -->
    <script src="https://kit.fontawesome.com/7a6c6b42a6.js" crossorigin="anonymous"></script>
</head>

<body>

    <header>
        <a href="#" class="logo">Bayleaf Salon</a>
        <div class="menuToggle"></div>
        <nav>
            <ul>
                <li><a href="./index.html">HOME</a></li>
                <li><a href="./about.html">ABOUT</a></li>
                <li><a href="./services.html">SERVICES</a></li>
                <li><a href="./portfolio.html">PORTFOLIO</a></li>
                <li><a href="./contact.html">CONTACT</a></li>
                <li><a href="./products.html" id="NavNum">EXPLORE OUR PRODUCTS</a></li>
            </ul>
        </nav>
    </header>


    <section class="sectionFirst">
        <div class="frontPage">
            <div class="address">Dombiavli(West) , Ganesh Nagar</div>
            <h2 class="heading">Bayleaf Salon</h2>
            <p class="para">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque totam aliquid eaque, quaerat
                obcaecati enim placeat earum qui illum distinctio!</p>
            <div class="btn">
                <a href="#">GET READY!</a>
                <a href="#">PLACE YOUR CALL</a>
            </div>
        </div>

        <!-- transparent Img -->
        <section class="transform-img">
            <img src="/frontend/pages/img/background180.svg" alt="">
        </section>
    </section>


    <!-- section second  -->
    <section class="sectionSecond">
        <div class="fourIMG">
            <img src="/frontend/pages/img/hulk.jpg" alt="">
            <img src="/frontend/pages/img/home-model2.jpg" alt="">
            <img src="/frontend/pages/img/home-model3.jpg" alt="">
            <img src="/frontend/pages/img/home-model4.jpg" alt="">
        </div>


        <div class="textInfo">
            <div class="greet">Welcome To</div>
            <h2 class="title">Bayleaf Salon</h2>
            <p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla aut odio vitae. Voluptatibus
                deleniti at ullam error, voluptates pariatur quibusdam! Corporis corrupti in molestias consequuntur
                dolorum eligendi vel animi suscipit!</p>

            <a href="./about.html" class="btn">Know More</a>
        </div>
    </section>

    <!-- section three  -->
    <section class="sectionThree">
        <h2>Services For Every Occasion</h2>
        <p>From nail polishing to perfect bridal makeup, explore our wide range of services.</p>

        <div class="servicesBox">
            <div class="box">
                <h2>Weddings Makeup</h2>
                <p>A little detail about the services you've mentioned aboved. Tell them what you do</p>
            </div>
            <div class="box">
                <h2>Party Makeup</h2>
                <p>A little detail about the services you've mentioned aboved. Tell them what you do</p>
            </div>
            <div class="box">
                <h2>Fashion Makeup</h2>
                <p>A little detail about the services you've mentioned aboved. Tell them what you do</p>
            </div>
            <div class="box">
                <h2>Photo Makeup</h2>
                <p>A little detail about the services you've mentioned aboved. Tell them what you do</p>
            </div>
        </div>
    </section>

    <!-- discount section  -->
    <section class="DiscountSection">

        <div class="img">
            <img src="./img/25off.png" alt="">
        </div>

        <div class="textinfo">
            <h2>Book Your Seat and get a exclusive 35% discount on our salon services!!</h2>
            <p>Winter Carnival Sale - 25% Off on All Professional Make Up only Rs250/-(T & C applied)</p>
        </div>

        <a href="./contact.html">BOOK AN APPOINTMENT</a>
    </section>

    <!-- transformBox -->
    <div class="transformBox">
        <h2>Priced Beauty Solutions</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore id earum, voluptas consectetur explicabo
            tempore aut placeat blanditiis dolores dolorum.</p>
    </div>

    <!-- section five  -->
    <section class="sectionFive">
        <div class="BeautySolutions">
            <h2>Hair Cuts</h2>
            <span></span>
            <ul>
                <li>Women's Haircut <span>&#8377;350</span></li>
                <li>Teen's Haircut <span>&#8377;290</span></li>
                <li>Stylish Haircut <span>&#8377;430</span></li>
                <li>Children's Haircut <span>&#8377;650</span></li>
            </ul>
        </div>
        <div class="BeautySolutions">
            <h2>Make Up</h2>
            <span></span>
            <ul>
                <li>Women's Haircut <span>&#8377;650</span></li>
                <li>Teen's Haircut <span>&#8377;350</span></li>
                <li>Stylish Haircut <span>&#8377;550</span></li>
                <li>Children's Haircut <span>&#8377;350</span></li>
            </ul>
        </div>
        <div class="BeautySolutions">
            <h2>Hair Color</h2>
            <span></span>
            <ul>
                <li>Women's Haircut <span>&#8377;450</span></li>
                <li>Teen's Haircut <span>&#8377;580</span></li>
                <li>Stylish Haircut <span>&#8377;650</span></li>
                <li>Children's Haircut <span>&#8377;150</span></li>
            </ul>
        </div>
        <div class="BeautySolutions">
            <h2>Skin Care</h2>
            <span></span>
            <ul>
                <li>Women's Haircut <span>&#8377;350</span></li>
                <li>Teen's Haircut <span>&#8377;550</span></li>
                <li>Stylish Haircut <span>&#8377;569</span></li>
                <li>Children's Haircut <span>&#8377;456</span></li>
            </ul>
        </div>
    </section>

    <!-- section six  -->
    <section class="sectionSix">
        <h2>Review Us</h2>
        <div class="icon">
            <a href="#" class="fa-brands fa-facebook-f"></a>
            <a href="#" class="fa-brands fa-google"></a>
            <a href="#" class="fa-brands fa-instagram"></a>
        </div>

        <div class="imgicon">
            <img src="./img/test150x150.jpg" alt="">
            <i class="fa-solid fa-quote-right"></i>
        </div>

        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. A rem soluta cupiditate, asperiores consectetur
            voluptate, dolor deleniti assumenda laboriosam quae culpa natus iure eum quidem cum ducimus fugit tempora
            sint. </p>
    </section>

    <!-- beforefooter  -->
    <div class="beforefooter">
        <div class="box">
            <div class="logo">Bayleaf Salon</div>
            
            <p class="para">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum ipsam sit magni et
                consequatur, tenetur ab doloremque totam necessitatibus inventore optio qui? Inventore vel quibusdam
                exercitationem, nulla asperiores fugiat totam!</p>

            <div class="bf-text">Subscribe For Offers</div>

            <div class="subscribe">
                <input type="text" name="" id="">
                <button class="btn">SUBSCRIBE</button>
            </div>
        </div>

        <div class="box">
            <div class="bf-text">Quick Links</div>
            <ul>
                <li><a href="./index.html">Home</a></li>
                <li><a href="./about.html">About</a></li>
                <li><a href="./services.html">Services</a></li>
                <li><a href="./protfolio.html">Portfolio</a></li>
                <li><a href="./contact.html">Contact</a></li>
            </ul>

            <div class="bf-text">Follow Us</div>
            <div class="icons">
                <a href="#" class="fa-brands fa-facebook-f"></a>
                <a href="#" class="fa-brands fa-google"></a>
                <a href="#" class="fa-brands fa-instagram"></a>
                <a href="#" class="fa-brands fa-youtube"></a>
            </div>
        </div>

        <div class="box">
            <div class="bf-text">Drop a Like!</div>
            <ul class="SayHi">
                <li><a href="./index.html">vedjoshi2005@gmail.com</a></li>
                <li><a href="./about.html">nikhilrkadam2005@gmail.com</a></li>
            </ul>

            <div class="bf-text">Contact Us</div>
            <ul class="SayHi">
                <li>Phone : 98998 98823</li>
                <li>Toll Free (In Case): 78999 34556</li>
            </ul>

            <div class="bf-text">Find Us</div>

            <div class="address">
                Rajhans wada, Nr. St Joseph Church, Ganesh Nagar, Dombivali (West) - 421202;
            </div>

        </div>
    </div>

    <!-- footer  -->
    <footer>
        <div class="fbox">Copyright &copy; 2025 Bayleaf Salon</div>
        <div class="fbox">Greetings From Bayleaf Salon</div>
    </footer>


    <!-- js  -->
    <script src="./js/script.js"></script>
</body>

</html>

