<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="products.css">

    <link rel="stylesheet" href="MediaQuery.css">
    
    <title>Products</title>
</head>
<body>
    <header>
        <a href="./index.html" class="logo">Bayleaf Salon</a>
        <div class="menuToggle"></div>
        <nav>
            <ul>
                <li><a href="./index.html">HOME</a></li>
                <li><a href="./about.html">ABOUT</a></li>
                
                <li><a href="./services.html">SERVICES</a></li>
                <li><a href="./portfolio.html">PORTFOLIO</a></li>
                <li><a href="./contact.html">CONTACT</a></li>
                <li><a href="./login.html">LOGIN</a></li>
                <li><a href="./products.html" id="NavNum">EXPLORE OUR PRODUCTS</a></li>
                
            </ul>
        </nav>
    </header>
    <section class="sectionFirst">
        <h1>Products</h1>

        <!-- transparent Img -->
        <section class="transform-img">
            <img src="./img/background180.svg" alt="">
        </section>
    </section>

    <section class="aboutServices">
        <div class="ser-litText">Explore aur wide range of products</div>
        <p class="ser-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, ipsum?</p>

        <div class="ser-box">
            <div class="box">
                <div class="img">
                    <img src="./img/Shampoo.png" alt="">
                </div>
                <div class="boxinfo">
                    <div class="ser-name">Shampoo</div>
                    <p class="ser-discription">Revitalize your hair with our nourishing shampoo for healthy, radiant locks.</p>
                </div>
            </div>
            <div class="box">
                <div class="img">
                    <img src="./img/lipstick.jpg" alt="">
                </div>
                <div class="boxinfo">

                    <div class="ser-name">Lipstick</div>
                    <p class="ser-discription">Make a statement with our vibrant, long-lasting lipstick in a spectrum of stunning shades.</p>
                </div>

            </div>
            <div class="box">
                <div class="img">
                    <img src="./img/nail.png" alt="">
                </div>
                <div class="boxinfo">

                    <div class="ser-name">Nail Paint</div>
                    <p class="ser-discription">Express your style with our chip-resistant nail paint, offering flawless color and shine.</p>
                </div>

            </div>
            <div class="box">
                <div class="img">
                    <img src="./img/foundation.png" alt="">
                </div>
                <div class="boxinfo">

                    <div class="ser-name">Foundation Cream</div>
                    <p class="ser-discription">Achieve a flawless complexion with our blendable foundation cream for a natural, even finish.</p>
                </div>

            </div>
            <div class="box">
                <div class="img">
                    <img src="./img/eye.jpg" alt="">
                </div>

                <div class="boxinfo">

                    <div class="ser-name">Eyeliner</div>
                    <p class="ser-discription">Define your eyes with our precise eyeliner, creating captivating looks that last all day.</p>
                </div>

            </div>
            <div class="box">
                <div class="img">
                    <img src="./img/wmremove-transformed.jpeg" alt="">
                </div>
                <div class="boxinfo">

                    <div class="ser-name">Face Mask</div>
                    <p class="ser-discription">Indulge in a spa-like experience with our rejuvenating face mask for a refreshed and glowing complexion.</p>
                </div>

            </div>
        </div>
    </section>





    <div class="beforefooter">
        <div class="box">
            <div class="logo">Bayleaf Salon</div>
            
            <p class="para">Enjoy our streamlined salon booking management system where we we offer clean user experince....</p>

            <div class="bf-text">Subscribe For Offers</div>

            <div class="subscribe">
                <input type="text" name="" id="">
                <button class="btn">Subscribe</button>
            </div>
        </div>

        <div class="box">
            <div class="bf-text">Quick Links</div>
            <ul>
                <li><a href="./index.html">Home</a></li>
                <li><a href="./about.html">About</a></li>
                <li><a href="./services.html">Services</a></li>
                <li><a href="./protfolio.html">Portfolio</a></li>
                <li><a href="./contact.html">Contact</a></li>
            </ul>

            <div class="bf-text">Follow Us</div>
            <div class="icons">
                <a href="#" class="fa-brands fa-facebook-f"></a>
                <a href="#" class="fa-brands fa-google"></a>
                <a href="#" class="fa-brands fa-instagram"></a>
                <a href="#" class="fa-brands fa-youtube"></a>
            </div>
        </div>

        <div class="box">
            <div class="bf-text">Drop a Like! </div>
            <ul class="SayHi">
                <li><a href="./index.html">vedjoshi2005@gmail.com</a></li>
                <li><a href="./about.html">nikhilrkadam2005@gmail.com</a></li>
            </ul>

            <div class="bf-text">Contact Us</div>
            <ul class="SayHi">
                <li>Phone : 7021623887</li>
                <li>Toll Free (In case): 90999 78999</li>
            </ul>

            <div class="bf-text">Find Us</div>

            <div class="address">
                Rajhans wada, Nr. St Joseph Church, Ganesh Nagar, Dombivali (West) - 421202;
            </div>

        </div>
    </div>
    <footer>
        <div class="fbox">Copyright &copy; 2025 Bayleaf Salon</div>
        <div class="fbox">Greetings From Bayleaf Salon</div>
    </footer>




    <!-- js  -->
    <script src="/frontend/pages/js/script.js"></script>
</body>
</html>